.add-place {
	padding: 20px;

	&__submit {
		background: $c-primary;
		color: #fff;
		border-radius: 6px;
		display: block;
		border: none;
		width: 250px;
		margin: 40px auto 0;
		padding: 15px 0;
	}
}
