.header {
	position: fixed;
	top: 0;
	height: 60px;
	background: #FFFFFF;
	width: 100%;
	line-height: 60px;
	border-bottom: 1px solid #e8e8e8;

	&__title {
		font-size: 18px;
		text-align: center;
		color: $c-primary;
		margin: 0;
	}

	&__add, &__back {
		position: absolute;
		right: 20px;
		top: 0;
		color: $c-primary;
		line-height: 67px;
	}

	&__back {
		right: auto;
		left: 20px;
	}

	&__add-icon {
		font-style: normal;
	}
}
