.input-field {
	margin-bottom: 20px;
}

input {
	background: #f8f8f8;
	border: 1px solid #e8e8e8;
	border-radius: 6px;
	width: 100%;
	height: 45px;
	font-size: 18px;
	outline: none;
	padding: 0 20px;
	box-sizing: border-box;

	&:focus {
		border: 2px solid $c-primary;
	}
}
