.modal {
	outline: none;

	&.fade {
		opacity: 0;
		transform: scale(1.05);
		transition: all .3s ease;
		&.ReactModal__Content--after-open {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#fff, .9);

	&--center {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
