.place-summary {
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
	height: 85px;
	padding: 0 20px;
	box-sizing: border-box;

	a {
		text-decoration: none;
		display: flex;
		height: 85px;
		align-items: center;
	}

	&__category {
		width: 85px;
		display: flex;
		justify-content: center;
	}

	&__meta {
		flex-grow: 1;
	}

	&__title {
		color: #333;
		margin: 0;
		font-weight: bold;
		font-size: 20px;
	}

	&__region {
		color: #aaa;
		font-weight: 100;
		font-size: 14px;
		letter-spacing: 1px;
	}

	&__rating {
		width: 29px;
		display: flex;
		justify-content: center;
	}

	&__score {
		font-size: 20px;
		color: #333;
	}

	&__icon {
		margin-left: 5px;
	}

	&__no-score {
		display: block;
		width: 10px;
		height: 10px;
		background: #ccc;
		border-radius: 100%;
		margin: 0 auto;
	}
}
