.rating-field {
	margin-bottom: 40px;
	background: #f8f8f8;
	border-radius: 4px;
	padding: 20px;

	label {
		display: block;
		text-align: center;
	}
}

.rating {
	display: flex;
	justify-content: space-around;
	width: 200px;
	margin: 15px auto 0;

	.icon {
		height: 30px;
		width: 22px;
	}
}
