.rating-field {
	margin-bottom: 40px;
	background: #f8f8f8;
	border-radius: 4px;
	padding: 20px;

	&--fixed {
		background: none;
		padding: 0;
		margin: 0;

		.rating {
			width: 80px;
			margin: 0;

			.icon {
				height: 20px;
				width: 10px;
			}
		}
	}

	label {
		display: block;
		text-align: center;
	}
}

.rating {
	display: flex;
	justify-content: space-around;
	width: 200px;
	margin: 15px auto 0;

	.icon {
		height: 30px;
		width: 22px;
	}
}

.rating-modal {
	width: 300px;

	.rating-field {
		padding: 30px 20px;
		margin-bottom: 15px;
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		color: #333;
	}
}
